/* resetear ajustes del navegador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Ajustes de medidas globales y hacer al rem de 10px */

html {
    font-size: 10px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
 } 

 /* Personalización del color del toggler del menu */

 .custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");

}

/* -------------------------------------------------- */


/* Estilo al contenedor Principal */

.layout {
    margin: 0;
    padding: 0;
} 

/* -------------------------------------------------- */

/* Estilo Flex a contenedores similares */

.layout,.layout-top,.top-main,.cards-card {
    display: flex;
    flex-direction: column;
}

.layout-top {
    width: 100%;
    background-image: url(../img/beach-05.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.top-header,.top-logo {
    display: flex;
    flex-direction: row;
}

.top-header {
    width: 100%;
    justify-content: space-between;
}

.top-logo{
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.logo-img {
    width: 4rem;    
}

.nav-link,.nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: #FFD700;
}

.top-main {
    align-items: center;
    flex-direction: row;
    padding: 7% 5% 17% 5%;
    gap: 20rem;
}

.top-main h1 {
    font-family: "Caveat", cursive;
    font-size: 4rem;
    font-weight: 600;
    color: white;
    background-color: black;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    margin-bottom: 7rem;
}

.top-main p {
    font-size: 6rem;
    font-weight: 700;
    text-align: justify;
    color: white;
}

.btn-warning {
    width: 50%;
    border-radius: 1rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-font-weight: 800;
    --bs-btn-hover-color: #000;
    --bs-btn-color: #000;
}

.btn-info, .btn-mas {
    width: 100%;
    border-radius: 1rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-font-weight: 800;
    --bs-btn-hover-color: #000;
    --bs-btn-color: #000;
}

.btn-info {
    --bs-btn-bg: #31D2F2;
    --bs-btn-border-color: #31D2F2;
    --bs-btn-hover-bg: #2ab5d0;
    --bs-btn-hover-border-color: #2ab5d0;
    font-weight: 800;
}

.btn-mas {
    --bs-btn-bg: #FFD700;
    --bs-btn-border-color: #FFD700;
    --bs-btn-hover-bg: #d0b206;
    --bs-btn-hover-border-color: #d0b206;
    margin-bottom: 0.5rem;
}

.main-msg{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.main-inscription {
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    width: 50%;
    background-color: rgba(74, 182, 240, 0.3);
    padding: 5rem;
    border: white 0.2rem solid;
    border-radius: 2rem;
}

.main-inscription h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(8, 8, 213);
    text-align: center;
    /* margin-bottom: 3rem; */
}


.form-group {
    display: flex;
    flex-direction: column;
    
}

.form-control {
    width: 100%;
}

.layout-cards {
    width: 100%;
    background-image: url(../img/beach-06.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(149, 151, 152, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem;
    gap: 3rem;
}

.cards-card {
    border: 0.6rem solid white;
    border-radius: 1.6rem;
    width: 45rem;
    background-color: white;
    transition: transform 0.3s;
    cursor: pointer;
}

.cards-card:hover{
    transform: scale(1.02);
    border: 0.5rem solid white;
}


.card-img {
    width: 100%;
    height: 80%;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
}

.card-title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #f6bc1fd8;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 1.6rem 1.6rem;
}

.card-text {
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    text-align: justify;
    border-radius: 0 0 1.6rem 1.6rem;
}

.layout-footer {
    display: flex;
    /* grid-auto-columns: max-content; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 1rem 4rem 1rem 4rem;
    /* gap: 1.5rem; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.908);
}

.footer-about, .footer-copy, .footer-minfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    width: 35%;
    /* border: white 0.2rem solid; */
    color:#7F7871;
    text-align: center;
    gap: 1rem;
}

li {
    list-style: none;
    color: #7F7871;
}

li a {
    color: #7F7871;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li a:visited {
    color: #7F7871;
}

.about-btn{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.about-rrss {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 1rem;
}

.about-rrss :hover{
    color: #FFF;
}

.fab {
    color: #7F7871;
}

.about-title h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #7F7871;
}

.btn-contact, .btn-work{
    --bs-btn-font-weight: 600;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-color: #7F7871;
    --bs-btn-border-color: #7F7871;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
}


/* Media Queries */

/* laptops/desktops, 1024px y más) */

@media only screen and (max-width: 1024px) {



}

@media only screen and (max-width: 992px) {


 }  

/* tablets, 768px y más) */
 @media only screen and (max-width: 768px) { 

    

 } 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 


    
}





