.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../assets/images/background-cinema.webp');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 3rem;
    /* opacity: 0.9; */
  }
  
  .titulo-home {
    color: red;
    font-size: 9rem;
    font-weight: 700;
    text-shadow: 5px 5px 15px white;
    text-align: center;
  }
  
  .btn-explorar {
    background-color: red;
    color: white;
    font-size: 5rem;
    font-weight: 800;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .btn-explorar:hover {
    background-color: white;
    color: red;
  }
  
  .btn-explorar:active {
    transform: scale(0.9);
  }